.angular-google-map-container {
    height: 400px;
}

#loading-bar .bar {
    background: #FBC900;
}

.md-toolbar-tools h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}

.highlightedText {
    background: yellow;
}

.center {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.center-text {
    justify-content: center;
}

.table {
    /*font-size: small;*/
}


/*
md-toolbar.my-toolbar {
    color: white;
    background-color: #558B2F;
}
*/
