.angular-google-map-container {
    height: 400px;
}

.md-toolbar-tools h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}

.highlightedText {
    background: yellow;
}


/*
md-toolbar.my-toolbar {
    color: white;
    background-color: #558B2F;
}
*/
