<div layout="row" flex="100" layout-margin ng-controller="GarduCtrl">
    <div flex="29">
        <div layout="column">
            <h2 class="md-title">Daftar Gardu</h2>
            <form ng-submit="search()">
                <md-input-container md-no-float>
                    <md-icon md-svg-src="img/icons/ic_search_24px.svg"></md-icon>
                    <input ng-model="query" type="search" placeholder="Cari..">
                </md-input-container>
            </form>
            <md-content>
                <md-list>
                    <!-- <md-subheader class="md-no-sticky">Avatar with Secondary Action Icon</md-subheader> -->
                    <md-list-item class="md-2-line" ng-repeat="item in gardus">
                        <md-checkbox ng-change="select(item)" ng-model="item.selected"></md-checkbox>
                        <div class="md-list-item-text">
                            <h3><span ng-bind-html="highlight(item.gardu)"></span></h3>
                            <p><span ng-bind-html="highlight(item.meterno)"></span></p>
                        </div>
                        <md-icon md-svg-src="img/icons/ic_person_24px.svg" ng-if="state.current.gardu === 'gardu.map'" ng-click="garduDetail(item, $event)" aria-label="Open Chat" class="md-secondary"></md-icon>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
    <div flex="70">
        <div layout="column">
            <h2 class="md-title">Detail Gardu - {{subtitle}}
            	<a href="" ui-sref="gardu.grid"><md-icon md-svg-icon="social:domain"></md-icon></a>
            	<a href="" ui-sref="gardu.map"><md-icon md-svg-icon="social:public"></md-icon></a>
        	</h2>
            <md-content>
                <ui-view></ui-view>
            </md-content>
        </div>
    </div>
</div>
