<div layout="row" flex="100">
    <div flex="60">
        Informasi Gardu
        <md-content>
            <pre>{{item.selected}}</pre>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Gardu</label>
                    <input ng-model="gardu.gardu" type="text" disabled>
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>No Meter</label>
                    <input ng-model="gardu.meterno" type="text" disabled>
                </md-input-container>
                <md-input-container flex>
                    <label>Penyulang</label>
                    <input ng-model="gardu.penyulang" type="text" disabled>
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Kapasitas Trafo</label>
                    <input ng-model="gardu.trafoCapacity" type="text" disabled>
                </md-input-container>
                <md-input-container flex>
                    <label>CT Terpasang</label>
                    <input ng-model="gardu.ctTerpasang" type="text" disabled>
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Latitude</label>
                    <input ng-model="gardu.latitude" type="text" disabled>
                </md-input-container>
                <md-input-container flex>
                    <label>Longitude</label>
                    <input ng-model="gardu.longitude" type="text" disabled>
                </md-input-container>
            </div>
        </md-content>
    </div>
    <div flex="40">
        <!-- Hasil Pemeriksaan -->
        <md-list ng-show="gardu">
            <md-list-item class="md-2-line" ng-repeat="item in inspects">
                <div class="md-list-item-text">
                    <h3>{{ item.result }}</h3>
                    <p>{{item.date|date:'dd MMMM yyyy'}}</p>
                </div>
                <div class="md-secondary">
                    <p>{{item.kwh}}</p>
                </div>
            </md-list-item>
        </md-list>
    </div>
</div>
