<div layout="row" flex="100" layout-margin ng-controller="CustomerCtrl">
    <div flex="29">
        <div layout="column">
            <h2 class="md-title">Daftar Pelanggan</h2>
            <md-input-container md-no-float>
                <md-icon md-svg-src="img/icons/ic_search_24px.svg"></md-icon>
                <input ng-model="query" type="search" placeholder="Cari..">
            </md-input-container>
            <md-content style="height:400px">
                <md-list>
                    <!-- <md-subheader class="md-no-sticky">Avatar with Secondary Action Icon</md-subheader> -->
                    <md-list-item class="md-2-line" ng-repeat="item in customers track by $index">
                        <md-checkbox ng-model="item.selected"></md-checkbox>
                        <div class="md-list-item-text">
                            <h3>{{ item.name }}</h3>
                            <p>{{ item.meterno }}</p>
                        </div>
                        <!-- <md-icon md-svg-src="img/icons/ic_person_24px.svg" ng-click="customerDetail()"></md-icon> -->
                        <md-icon md-svg-src="img/icons/ic_person_24px.svg" ng-click="customerDetail()" aria-label="Open Chat" class="md-secondary"></md-icon>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
    <div flex="70">
        <div layout="column">
            <h2 class="md-title">Peta Pelanggan</h2>
            <md-content style="height:420px">
                <map zoom="9" center="-2.8994298, 107.9140491" on-center-changed="centerChanged()">
                    <marker position="-2.8994298, 107.9140491" on-click="customerDetail()" title="Click to zoom"></marker>
                    <marker position="-2.8994298, 107.9140491" on-click="customerDetail()" title="Click to zoom"></marker>
                </map>
            </md-content>
        </div>
    </div>
</div>
