<div layout="column" layout-margin ng-controller="CustomerCtrl" class="center">
    <div layout="row">
        <h2>Daftar Pelanggan ({{customerNumber}})</h2>
        <span flex></span>
        <md-input-container layout="row">
        	<md-button ng-csv="customers" csv-header="headers" filename="pelanggan.csv"> Download CSV </md-button>
        	<md-button ng-click="customerDetail($event)"> Lihat Peta </md-button>
        	<!-- <md-button ng-click="customerSelectedDialog($event)"> Pelanggan </md-button> -->
        	<md-button ng-click="customerImportDialog($event)"> Import </md-button>
        </md-input-container>
        <form ng-submit="tableParams.reload()" layout="row">
            <md-input-container md-no-float>
                <md-icon md-svg-src="img/icons/ic_search_24px.svg"></md-icon>
                <input ng-model="query" type="search" placeholder="Cari">
            </md-input-container>
        </form>
    </div>
    <table ng-table="tableParams" class="table bordered highlight" template-pagination="pager">
        <thead>
            <tr>
                <th>
                    <md-checkbox ng-click="xyz()"></md-checkbox>
                </th>
                <th>IDPEL</th>
                <th>Nama</th>
                <th>No Meter</th>
                <th>Alamat</th>
                <th>Tarif</th>
                <th>Daya</th>
                <th>Gardu</th>
                <th>Tiang</th>
                <th>Lokasi</th>
                <th>Pemeriksaan</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="m in $data" ng-click="select(m)">
                <td>
                    <md-checkbox ng-click="select(m)" ng-model="m.selected"></md-checkbox>
                </td>
                <td>{{m.idpel}}</td>
                <td>{{m.name}}</td>
                <td>{{m.meterno}}</td>
                <td>{{m.address}}</td>
                <td>{{m.tarif}}</td>
                <td>{{m.daya}}</td>
                <td>{{m.gardu}}</td>
                <td>{{m.tiang}}</td>
                <td>{{getLocation(m.latitude, m.longitude)}}</td>
                <td>
                	<md-button ng-click="inspectDetail(m, $event)">
                		<md-icon md-menu-align-target md-svg-icon="social:person"></md-icon>
                	</md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
