<md-dialog aria-label="Peta Pelanggan">
	<md-toolbar>
	    <div class="md-toolbar-tools">
	        <h2>Peta Pelanggan</h2>
	        <span flex></span>
	        <md-button class="md-icon-button" ng-click="close()">
	            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
	        </md-button>
	    </div>
	</md-toolbar>
	<md-dialog-content style="height:350px;width:600px">
		<map zoom="9" center="-2.8994298, 107.9140491" on-center-changed="centerChanged()">
		    <marker fit="true" ng-repeat="c in customers" position="{{c.latitude}}, {{c.longitude}}" title="{{c.customer}} ({{c.meterno}})"></marker>
		</map>
	</md-dialog-content>
	<div class="md-actions" layout="row">
	    <span flex></span>
	    <md-button ng-click="close()" class="md-primary">
	        Tutup
	    </md-button>
	</div>
</md-dialog>
