<md-dialog aria-label="Peta Gardu">
	<md-toolbar>
	    <div class="md-toolbar-tools">
	        <h2>Peta Gardu</h2>
	        <span flex></span>
	        <md-button class="md-icon-button" ng-click="close()">
	            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
	        </md-button>
	    </div>
	</md-toolbar>
	<md-dialog-content style="height:700px;width:700px">
        <ui-gmap-google-map center="map.center" zoom="map.zoom">
            <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" fit="true" options="mapoptions"></ui-gmap-markers>
        </ui-gmap-google-map>
    </md-dialog-content>
	<div class="md-actions" layout="row">
	    <span flex></span>
	    <md-button ng-click="close()" class="md-primary">
	        Tutup
	    </md-button>
	</div>
</md-dialog>
