<div layout="column" layout-margin ng-controller="GarduCtrl" class="center">
    <div layout="row">
        <h2>Daftar Gardu ({{garduNumber}})</h2>
        <span flex></span>
        <md-input-container layout="row">
        	<md-button ng-csv="loadGardus" csv-header="headers" filename="gardu.csv"> Download CSV </md-button>
        	<md-button ng-click="garduDetail($event)"> Lihat Peta </md-button>
        	<md-button ng-click="garduImportDialog($event)"> Import </md-button>
        	<md-button ng-click="clear()"> Bersihkan </md-button>
        </md-input-container>
        <form ng-submit="tableParams.reload()" layout="row">
            <md-input-container md-no-float>
                <md-icon md-svg-src="img/icons/ic_search_24px.svg"></md-icon>
                <input ng-model="query" type="search" placeholder="Cari">
            </md-input-container>
            
        </form>
    </div>
    <table ng-table="tableParams" class="table bordered highlight" template-pagination="custom/pager">
        <thead>
            <tr>
                <th>
                    <md-checkbox ng-click="xyz()"></md-checkbox>
                </th>
                <th>Gardu</th>
                <th>No Meter</th>
                <th>Kapasitas Trafo (kVA)</th>
                <th>CT Terpasang</th>
                <th>Penyulang</th>
                <th>Lokasi</th>
                <th>Pemeriksaan</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="m in $data" ng-click="m.selected = !m.selected">
                <td>
                    <md-checkbox ng-click="m.selected = !m.selected" ng-model="m.selected"></md-checkbox>
                </td>
                <td>{{m.gardu}}</td>
                <td>{{m.meterno}}</td>
                <td>{{m.trafoCapacity}}</td>
                <td>{{m.ctTerpasang}}</td>
                <td>{{m.penyulang}}</td>
                <td>{{m.latitude}} {{m.latitude}}</td>
                <td>
                	<a href="" ng-click="delete(m.id)"><i class="material-icons">delete</i></a>
                	<a href="" ng-click="inspectDetail(m, $event)"><i class="material-icons">person</i></a>
                </td>
            </tr>
            <!-- <tr>
            	<td><pre>{{$data|json}}</pre></td>
            </tr> -->
        </tbody>
    </table>
    <script type="text/ng-template" id="custom/pager">
        <div layout="row" class="center center-text ng-cloak">
            <!--<pre>{{pages|json}}</pre>-->
            <small ng-repeat="page in pages" ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}" ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type" style="margin-right:30px">
        	    <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Prev</a>
        	    <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
        	</small>
        </div>
    </script>
</div>
