<div class="md-menu-demo ng-scope" style="margin:auto; text-align:center; color: #6A7F4B">
    <h1>Login to Alpukat System</h1>
    <form ng-submit="login()">
        <md-input-container md-no-float class="md-block">
            <input ng-model="form.username" type="text" placeholder="Username">
        </md-input-container>
        <md-input-container md-no-float class="md-block">
            <input ng-model="form.password" type="password" placeholder="Password">
        </md-input-container>
        <md-input-container>
            <md-button class="md-raised md-primary">Login</md-button>
        </md-input-container>
    </form>
</div>
